scripts/generate
syn_vivado
syn_quartus
syn_xst
syn_yosys
check_vivado
check_quartus
check_xst
check_yosys
cache_vivado
cache_quartus
cache_xst
cache_yosys
report
report.html
monitor.html
monitor.txt
monitor.dat
temp
rtl
